.container{
    display: grid;
    grid-template-areas;

    "display display display display"
    "one two three one goBack"
    "seven eight nine cero"
    "plus minus multi divi"
    "equal equal equal equal"
}

#display{
    grid-area: display;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}
.seven{
    grid-area: seven;
}
.eight{
    grid-area: eight;
}
.nine{
    grid-area: nine;
}.cero{
    grid-area: cero;
}.plus{
    grid-area: plus;
}.minus{
    grid-area: minus;
}.multi{
    grid-area: multi;
}.divi{
    grid-area: divi;
}
