body {
  background-color: rgb(171, 167, 199);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.navbuttons {
}

.photo {
}

.item {
  display: inline-block;
  width: calc(25% - 1.25rem);
  margin: auto;
  position: relative;
  text-align: center;
}

.item figure {
  margin: 0;
}

.item img {
  width: 100%;
  height: auto;
}

.price {
  color: green;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  /* apply for screens, where the maximum width is 600px */
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}
